.navbar{
    background-color: black;
    width: auto;
    height: 50px;
    border: none;
    border-radius: none;
    color: white;
    
}
.navelement{
    color: white;
    text-decoration: none;
    padding: 10px;
}
