/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgba(0, 0, 255, 0.655);
  color: white;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}


.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.li{
  font-size: 18px;
  text-decoration: none;
  color: white;
}


.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  display: none;
}


.dropdown {
  background: #333;
  width: 92%;
  list-style: none;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.li1{
  color: white;
  font-size: 19px;
  padding: 5px;
  text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }
  .body{
    overflow-x: hidden;
  }
}