/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #222;
  color: white;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}


.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links Link{
  font-size: 18px;
}


.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  display: none;
}


.dropdown {
  background: #333;
  width: 100%;
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dropdown li{
  color: white;
  font-size: 18px;
  padding: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}