/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgba(0, 0, 255, 0.655);
  color: white;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}


.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.li{
  font-size: 18px;
  text-decoration: none;
  color: white;
}


.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  display: none;
}


.dropdown {
  background: #333;
  width: 92%;
  list-style: none;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.li1{
  color: white;
  font-size: 19px;
  padding: 5px;
  text-decoration: none;
}
.drop-btn{
  border: none;
  background-color:darkorange;
  margin-left: 5px;
}
.items{
  display: flex;
  text-decoration: none;
  width: 200px;
  height: auto;
  background-color: grey;
  padding: 10px;
  
  
}
.dropdownmenu1{
  margin: 20px;
  margin-left: 1000px;
}


.banvideo{
  width: auto;
  height: 200px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }
  .body{
    overflow-x: hidden;
  }
  .dropdownmenu{
  margin: 20px;
  margin-left: 100px;
}
.dropdownmenu1{
  display: none;
}

}
/* about */
.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  gap: 40px;
  opacity: 0;
  transition: opacity 0.8s ease-in;
}

.fade-in {
  opacity: 1;
}

.hero-left {
  flex: 1;
}

.hero-title {
  font-size: 64px;
  font-weight: 300;
  line-height: 1.1;
}

.hero-text {
  margin-top: 20px;
  font-size: 17px;
  color: #555;
  max-width: 520px;
  line-height: 1.6;
}

.consult-button {
  margin-top: 30px;
  padding: 14px 30px;
  background-color: #58a38c;
  border: none;
  border-radius: 40px;
  font-size: 17px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.consult-button:hover {
  background-color: #4b8e79;
}

.hero-right {
  flex: 1;
}

.hero-image {
  width: 100%;
  border-radius: 10px;
}


/* Responsive */
@media (max-width: 900px) {
  .hero-container {
    flex-direction: column;
    padding: 30px;
  }

  .hero-title {
    font-size: 42px;
  }
}
